DATABASE_URL="postgresql://admin:admin@localhost:5432/postgres"
JWT_SECRET="change-me-in-production"
PRODUCT_GRPC_URL="localhost:50051"
ORDER_GRPC_URL="localhost:50052"

# npx prisma studio --url="postgresql://admin:admin@localhost:5432/postgres"
